# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100/
.TemporaryItems/
.Trashes/
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Visual Studio Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
